.admin-true {
    color: green;
    font-weight: bold;
}

.admin-false {
    color: red;
    font-weight: bold;
}

button.admin-true {
    background-color: green;
    color: black;
    padding: .75rem .5rem;
}

button.admin-false {
    background-color: red;
    color: white;
    padding: .75rem .5rem;
}