* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background: #111;
  color: #eee;
  font-family: system-ui;
}

#root {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 100vh;
  margin: 0 3rem;
}

.test {
  width: 300px;
  height: 100px;
}